<div class="row">
    <div class="col-md-8 offset-2">
        <h2> Chat Rooms</h2>
        <ul class="list-group">
            @foreach (var e in ASP.NET_CoreWebApp_MVC_SingalR_Chat_.Controllers.ChatController.Rooms)
            {
                <li class="list-group-item"> <a href="~/Chat/Room?room=@e.Key">@e.Value</a> </li>
            }
        </ul>
    </div>
</div>